<p id="notice"><%= notice %></p>

<h1>Tv Shows</h1>
  <div class="row">
    <% @tv_shows.each_with_index do |tv_show, index| %>
    <div class="col s12 m6 l3">
      <div class="card">
        <%= tv_show["name"] %>
        <%= tv_show["overview"][0..100] + '...' %>
      </div>
    </div>
    <% end %>
  </div>

<br>

<%= link_to 'New Tv Show', new_tv_show_path %>
