/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require materialize
 *= require material_icons
 */

@import "materialize";

.invisible_tv_show_ids {
  visibility: hidden;
}

/* label focus color */
 .input-field input:focus + label {
   color: red !important;
 }

 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid black !important;
   box-shadow: 0 1px 0 0 black !important
 }

 /* icon prefix focus color */
 .row .input-field .prefix.active {
   color: red;
 }

 .section-search input.autocomplete {
   color: #e45d;
 }

 .dropdown-content li>a, .dropdown-content li>span {
   color: #000!important;
 }
 .autocomplete-content li .highlight {
   color: red!important;
 }
